body {
  font-family: "Source Sans Pro", sans-serif;
}
#first {
  min-height: 60vh;
  background: linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
    url(./assets/Pictures/home-walpaper.jpg) center/cover no-repeat fixed;
}
.aa-btn-luxurious {
  background-color: #ff450b;
}
.aa-bg-luxurious {
  background-color: #ff450b;
}
.aa-title-underline {
  width: 150px;
  height: 5px;
  margin: 0 auto;
}
.aa-pos-rel {
  position: relative;
}
.aa-pos-abs {
  position: absolute;
}
